.App {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;

  > .body {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 60px);

    > button {
      font-weight: bold;
      margin: 10px 0;

      &.reset {
        background: transparent;
        font-size: 15px;
        margin: 0;
        padding: 0;
      }
    }

    > img {
      background: #000;
      height: 100%;
      left: 0;
      object-fit: contain;
      position: absolute;
      top: 0;
      width: 100%;

      &.hide {
        display: none;
      }
    }

    > .heading {
      font-family: 'Hello Sunday';
      font-size: 50px;
      padding: 20px 0;
      text-align: center;
    }

    > .subHeading,
    > div > div > .subHeading {
      font-family: 'Hello Sunday';
      font-size: 35px;
      white-space: nowrap;
    }

    > .people {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 5px;
      width: 100%;

      > div {
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: center;
        width: 100%;

        > button {
          background: transparent;
          padding: 0;
        }
      }
    }

    > .beds {
      > tbody > tr {
        > td > button {
          background: transparent;
        }

        > .emoji {
          font-size: 28px;
          padding-right: 10px;
        }
      }
    }

    > .error {
      padding: 0 20px;
      text-align: center;
    }

    label {
      align-items: center;
      display: flex;
      gap: 5px;
      margin-top: 20px;

      > span {
        flex-shrink: 0;
      }
    }

    > .results {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: center;
      margin-top: 10px;
      max-width: 1000px;
      width: 100%;

      > div {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 5px;

        > .people {
          display: flex;
          flex-direction: column;
          gap: 5px;

          > div {
            align-items: center;
            display: flex;
            gap: 10px;

            > .avatar {
              display: flex;

              > svg {
                height: 25px;
                width: 25px;
              }
            }

            > .name {
              white-space: nowrap;
            }
          }
        }
      }
    }
  }

  > .footer {
    padding: 20px 0;

    > a {
      color: #fff;
    }
  }
}
